.TopImg{
    margin: auto;
}
.body-Section{
    /* width: 74.5%; */
    margin: auto;
}
.body-Section{
    display: flex;
    gap: 10px;
    margin-top: 3%;
    font-family: ProximaNovaA-Regular;
}
.body-Section>div:nth-child(1){
    /* width: 30%; */
    text-align: left;
}
.body-Section>div:nth-child(1)>p {
    border-bottom: solid green;
    width: 40%;
}
.product-head-section{
    display: flex;
    gap: 10px;
    font-size: 14px;
    border-bottom: solid green;
    width: 25%;
}
.cat{
    border-right: 1px solid rgb(188, 180, 180);
}
.cat>hr{
    width:90%;
    border: 1px solid rgb(188, 180, 180);
    position: relative;
}
.prod{
    width:80%;
}
.prod>hr{
   border: solid gery;
}
.prod-heading{
    background-color:#efefef ;
}
.vehicle-img{
    height: 25px;
    width: 25px;
}
.Image1{
    height: 180px;
}
.Logo{
    /* position: relative; */
    height: 25px;
    width: 25px;
    /* padding-top: 70%; */
}
.Recommended{
    text-align: left;
    background-color: #84c225;
    width: 60%;
    margin-top: 2%;
    padding-left: 2%;
}
.Brand{
    text-align: left;
    color: rgb(188, 180, 180);
}
.Name{
    text-align: left;
}
.Cost{
    display: flex;
    gap: 10px;
}
.Strike{
    text-decoration: line-through;
    color: rgb(188, 180, 180);
}
.MRP{
    color: rgb(188, 180, 180);
}
.component{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 5%;
    padding: 2%;
    padding-left: 15%;
    padding-bottom: 10%;
}
.component:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.AddtoCart{
    display: flex;
    gap: 10px;
}
.count{
    margin-top: 5%;
}
.cart{
    margin-left: -30%;
    margin-top: 5%;
}
.products-scr{
    height: 88vh;
    overflow-y: scroll;
}
.products-scr::-webkit-scrollbar{
    display: none;
}