 .cantainer{
    /* border: 1px solid red; */
    height: 700px;
    width: 80%;
    margin: auto;
 }
 .cantainerdiv{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 50%;
    height: 30px;
    margin-top: 20px;

 }
 leftdiv,span:hover{
   color: #84C244;
 } 
 leftdiv,a:hover{
   color: #84C244;
 }
 .v1{
   border-left: 1px solid gray;
 }
 .comment{
   width: 35%;
   height: 250px;
   border: 1px solid black;
 }
 .hr{
    margin-top: 15px;
    border: 1px solid gray;
 }
 .flexdiv{
    display: flex;
    justify-content: space-between;
 }
 .flexdiv1{
    /* border: 1px solid red; */
    height: 30px;
    width: 12%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

 }
 .bothdiv{
    display: flex;
    gap: 5px;
 }
 .leftdiv{
    width: 25%;
    text-align: left;
    /* border: 1px solid red; */
 }
 .rightdiv{
    width: 75%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /* border: 1px solid red; */
 }
 .imgdiv{
    width: 50%;
 }
 .fresho{
    /* border: 1px solid red; */
    text-align: left;
    width: 60%;
    height: 600px;
 }
 .secondcontainer{
   text-align: left;
 }
 .ptag{
    color: red;
 }
 .btn{
    background-color:#84C244;
    margin-top: -14%;
    margin-left:45px;
    /* border: 1px solid red; */
 }
 .btn1{
   margin-top: -15%;
    margin-left: 20px;
    width: 20%;
    /* color: skyblue; */
 }
 .grodiv{
    margin-left: 20px;
    margin-top: 350px;
    /* margin-top: -20px; */
    width: 50px;
    height: 40px;
    /* border: 1px solid red; */
 }
 .smallimgdiv{
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 10px;
 }
 .count{
   font-size: 25px;
   font-family: sans-serif;
   margin-top: 20px;
   border: 1px solid greenyellow;
   width: 7%;
   text-align: center;
   /* margin-top: -5px; */
   /* color: darkcyan; */
   
 }
 .icon{
   display: flex;
   margin-right: 5%;
   margin-top: 20px;
   align-items: center;

 }
 .icon > i {
   /* margin-top: 14px; */
   margin-left: 10px;
 }

 .vegetarian_logo{
   /* border: 1px solid red; */
   width: 30px;
   height: 30px;
   margin-top:-30px;
 }
.ratingdiv{
   width: 100%;
    margin: auto;
    border: 1px solid gray;
    /* height: 250px; */
    /* text-align: left; */
}

